@charset "UTF-8";

/* ===== style.cssの上書き ===== */
.container {
    max-width: 100%;
}
img {
    max-width: 100%;
    border-radius: 20px;/*角丸に*/

}

#bold {
    font-weight:bold;
}

/* ===== 機能の実装に必要なCSS ===== */

/* ドロワーナビゲーションの必須スタイル */
#nav {
    position: fixed;
    right: -270px;
    top: 0;
    width: 270px;
    height: 100%;
}

/* ドロワーが開かれたときのスタイル */
.show {
    transform: translate3d(-270px, 0, 0);
}

/* 開く・閉じるアニメーション */
#wrapper, #nav {
    transition: transform 0.3s;
}

/* ===== ヘッダーにボタンを配置 ===== */
.header {
    padding: 16px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
}

.title {
    border-radius: 0px;
    width:70%;
}

@media(min-width: 768px) {
    .title {
        width:50%;
    }
}

@media (min-width: 768px) {
    .header {
        border-radius: 0px;
        width:50%;
    }
}

.title-block {
    flex: 1 1 auto;
}
.hamburger {
    flex: 0 0 32px;
    align-self: center;
    margin-left: 16px;
    text-align: center;
    color: #fff;
}

/* ===== 装飾的なCSS ===== */

/* メニュー */
#nav {
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #fff;
}
#nav li a:hover {
    background: #0e3e4d;
}
#nav .logo {
    margin-bottom: 20px;
}

/* メインコンテンツ */
main .container {
    padding: 0;
}
.trunk {
    margin: 0 auto;
    height: 10%;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 0;
}
.content {
    padding: 0 30px;
    text-align: center;
}
.archive {
    padding: 0 30px;
}
.archive-box {
    margin: 0 auto;
    width: 70%;
}

@media(min-width: 768px) {
    .archive-box {
        display: flex;
        justify-content: space-around;
        width:80%;
    }
}

/* タイトルのボーダー */

.title-border {
    display: flex;
    align-items: center;
    }
    .title-border:before,
    .title-border:after {
    margin:auto 0;
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
    }
    .title-border:before {
    margin-left: 20%;
    border-color: rgb(232, 162, 83);
    }
    .title-border:after {
    margin-right: 20%;
    border-color: rgb(232, 162, 83);
    }

@media(min-width: 768px) {
    .title-border {
        display: flex;
        align-items: center;
        }
        .title-border:before,
        .title-border:after {
        margin:auto 0;
        border-top: 1px solid;
        content: "";
        flex-grow: 1;
        }
        .title-border:before {
        margin-left: 40%;
        border-color: rgb(232, 162, 83);
        }
        .title-border:after {
        margin-right: 40%;
        border-color: rgb(232, 162, 83);
        }
    }



.archive h3 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    padding: 0 20px;
    font-family: Marck Script,sans-serif;
    font-size: 30px;
    line-height: 40px;
    color: #e8a253;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: center;
    background-color: transparent;
}

.line_before {
    width: 100px;
    border-bottom-width: 1px;
    margin-bottom: -1px;
    opacity: 1;
}

.archive figure {
    margin: 0 0 2em 0;
    padding: 0;
}

@media(min-width: 768px) {
    .archive figure { 
        width:50%;
    }
}

.archive figcaption {
    text-align: center;
}
.thumb {
    max-width: 200px;
}

figure {
    text-align: center;
}

.facebook {
    color: #4267B2;
    fill: currentColor;
    width: 120px;
    height: 120px;
}

.twitter {
    color: #00aced ;
    fill: currentColor;
    width: 120px;
    height: 120px;
}

.github {
    color: #6e5494 ;
    fill: currentColor;
    width: 120px;
    height: 120px;
}

.insta {
    height:120px;
    width:120px;
    max-width: 100%;
  }


.insta_btn {
    height:120px;
    width:120px;
  }
  
  .insta_btn:hover {/*ホバー時*/
    color:#668ad8;/*文字色*/
    transition: .5s;/*ゆっくり変化*/
  }
  
  .insta_btn .insta{/*アイコンの背景*/
    position: relative;/*相対配置*/
    display: inline-block;
    width: 110px;/*幅*/
    height: 110px;/*高さ*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    border-radius: 30px;/*角丸に*/
  
  }
  
  .insta_btn .insta:before{/*グラデーションを重ねるため*/
    content: '';
    position: absolute;/*絶対配置*/
    top: 43px;/*ずらす*/
    left: -18px;/*ずらす*/
    width: 130px;/*グラデーションカバーの幅*/
    height: 130px;/*グラデーションカバーの高さ*/
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
  }
  
  .insta_btn .fa-instagram {/*アイコン*/
    color: #FFF;/*白に*/
    position: relative;/*z-indexを使うため*/
    z-index: 2;/*グラデーションより前に*/
    font-size: 85px;/*アイコンサイズ*/
    line-height: 110px;/*高さと合わせる*/
  }

  .merukari {
      margin-top:30px;
  }

  .begin{
    margin:auto;
    margin-top:30px;
    width: 90%;
    height: 90%;
  }

  /* @media(min-width: 768px) {
    .begin {
        width: 30%;
        height: 30%;
    }
} */

@media(max-width: 768px) {
    #wrapper_rainbow {
        margin-top:30px;
        display: flex;
        text-align:center;
    }
}

@media(min-width: 768px) {
    #wrapper_rainbow {
        margin-top:30px;
        text-align:right;
        margin-right:30px;
    }
}

.plumeria {
    width:70%;
}

@media(min-width: 768px) {
    .plumeria {
        width:10%;
    }
}

.center { margin: 0 0 30px;}
.center img { width: 100%; height: auto;}
.center .slick-next { right: 20px; z-index: 99;}
.center .slick-prev { left: 15px; z-index: 100;}

.center .slick-slide:not(.slick-center) {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s linear;
  }


.make {
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

/* 真ん中バナー */

.box3 {
    padding: 2.5em 1em;
    margin: 3em 0;
    color: #2c2c2f;
    background: #db2d8d;/*背景色*/
}
.box3 p {
    font-family: "Futura", Futura, sans-serif;
    font-size:40px;
    color:white;
    text-align:center;
    margin: 10px; 
    padding: 0;
}

.under {
    border-bottom: double 6px white;
  }

@media(min-width: 768px) {
    .make_sentence {
        margin: 0 10px;
    }
}

.make_sentence {
        position: relative;
        padding-top:50%;
        text-align:center;
        width: 100%;
        border-radius: 20px;/*角丸に*/
        padding: 0.5em 1em;
        color: #2c2c2f;
        background: #d0f5df;/*背景色*/
    }

.make_sentence p {
    margin: 0; 
    padding: 0;
}


#make_sentence {
    height:100%;
}


@media(min-width: 768px) {
    .make_sentence_sentence{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        text-align: center;/*一応BOX内の文字も中央寄せ*/
        }
    }
    
        

@media(min-width: 768px) {
    #typewriter {
        height:100%;
    }
}

#contact {
    margin: 0 10px;
    margin-top:20px;
}

#profile {
    margin: 0 10px;
    margin-top:40px;
}